DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=grand3sunggal
DB_USERNAME=root
DB_PASSWORD=

DATABASE_URL="mysql://root:@127.0.0.1:3306/grand3sunggal"
JWT_SECRET=grand3sunggal
JWT_EXPIRES_IN=7d
CORS_ORIGIN=https://bimbelgrand3.cloud